body {
    background-color: #F5EFE6;
    color: #1A4D2E;
    font-family: Garamond, serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    display: flex; 
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #1A4D2E;
    color: #E8DFCA;
    text-align: center;
    padding: 1em 0;
}

main {
    flex: 1;
    padding: 5em;
    text-align: center;
}

footer p {
    margin: 0;
}
