@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}

p, li {
    color: rgb(85, 85, 85);
    font-weight: 400;
}

li {
    list-style: none;
}

/* Transition */
a, 
.btn {
    transition: all 300ms ease;
}

/* Desktop Nav */
nav, 
.nav-links {
    display: flex;
}

nav {
    justify-content: space-around;
    align-items: center;
    height: 17vh; /* It takes 17% of the entire page */
}

.nav-links {
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
}

/* Links */
a {
    color: black;
    text-decoration: none;
    text-decoration-color: white;
    transition: color 300ms ease;
}

a:hover {
    color: gray;
    text-decoration: underline wavy rgb(181, 181, 181);
    text-underline-offset: 0.5rem;
}

/* My name */
.logo {
    font-size: 2rem;
}

.logo:hover {
    cursor: default;
}

/* Hamburger menu*/
#hamburger-nav {
    display: none;
}

.hamburger-menu {
    position: relative;
    display: inline-block;
}

.hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

.hamburger-icon span {
    width: 100%;
    height: 2px;
    background-color: black;
    transition: all 0.3s ease-in-out;
}

/* JS function moves the toggle symbol */
.hamburger-icon.open span:first-child {
    transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
    opacity: 0;
}

.hamburger-icon.open span:last-child {
    transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
    transform: none;
}

.hamburger-icon span:first-child {
    opacity: 1;
}

.hamburger-icon span:first-child {
    transform: none;
}

/* Sections */
section {
    padding-top: 4vh;
    height: 96vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}

.section-container {
    display: flex;
}

/* Profile section */
#profile {
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 80vh;
}

.section__pic-container {
    display: flex;
    height: 400px;
    width: 400px;
    margin: auto 0;
}

.section__text {
    align-self: center;
    text-align: center;
}

.section__text p {
    font-weight: 600;
}

.section__text__p1 {
    text-align: center;
}

.section__text__p2 {
    font-size: 1.75rem;
    margin-bottom: 1rem;
}

.title {
    font-size: 3rem;
    text-align: center;
}

#socials-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}

/* Icons */
.icon {
    cursor: pointer;
    height: 2rem;
    width: 2rem;
  }

/* Contact button */
.btn-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.btn {
    font-weight: 700;
    transition: all 300ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;
}

.btn-color-1 {
    border: white 0.1rem solid;
    background: rgb(53, 53, 53);
    color: white;
}

.btn-color-1:hover {
    cursor: pointer;
    background: rgb(255, 255, 255);
    color: rgb(53, 53, 53);
}

.btn-container {
    gap: 1rem;
}

/* About section */
#about {
    position: relative;
}

.about-containers {
    gap: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.about-details-container {
    justify-content: center;
    flex-direction: column;
    padding: 6rem;
}

.about-containers, .about-details-container {
    display: flex;
}

.about-pic, .profile-pic {
    border-radius: 50%;
    width: 25rem; 
    height: 25rem;
}

.arrow {
    position: absolute;
    right: -5rem;
    bottom: 2.5rem;
}

.details-container {
    padding: 1.5rem;
    flex: 1;
    text-align: center;
}

.section-container {
    gap: 4rem;
    height: 80%;
}

.section__pic-container {
    height: 400px;
    width: 400px;
    margin: auto 0;
}

/* Skills section */
#skills {
    position: relative;
}

.skills-sub-title {
    color: rgb(85, 85, 85);
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 2rem;
}

.skills-details-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.article-container {
    display: flex;
    text-align: initial;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2.5rem;
    justify-content: space-around;
}

article {
    display: flex;
    width: 10rem;
    justify-content: space-around;
    gap: 0.5rem;
}

article .icon {
    cursor: default;
}

/* Contact section */
#contact {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 70vh;
}

.contact-info-upper-container {
    display: flex;
    justify-content: center;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
    background: rgb(250, 250, 250);
    margin: 2rem auto;
    padding: 0.5rem;
}

.contact-info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin: 1rem;
}

.contact-info-container p {
    font-size: larger;
}

.contact-icon {
    cursor: default;
}

.email-icon {
    height: 2.5rem;
    width: 2.5rem;
}

/* Footer section */
footer {
    height: 26vh;
    margin: 0 1rem;
}

footer p {
    text-align: center;
}

/* Overlay Menu Styles */
.overlay {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); 
    opacity: 0; 
    visibility: hidden; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    z-index: 1000; 
    transition: opacity 0.5s ease, visibility 0.5s ease; 
    will-change: opacity, visibility, backdrop-filter;
}

.overlay.active {
    opacity: 1;
    visibility: visible; 
    backdrop-filter: blur(5px); 
    -webkit-backdrop-filter: blur(5px);
}

.overlay-content {
    text-align: center;
}

.overlay-links {
    list-style: none;
    padding: 0;
}

.overlay-links li {
    margin: 20px 0;
}

.overlay-links a {
    color: white;
    font-size: 2rem;
    text-decoration: none;
}

.overlay-links a {
    transition: all 300ms ease;
}

.overlay-links a:hover {
    color: gray; 
}

/* Animation Classes */
.animate {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}
.animate.show {
    opacity: 1;
    transform: translateY(0);
}